body {
    background-color: #e9edf2 !important;
    font-weight: 600;
}

.brand {
    margin-top: 20px;
    height: 300px;
    font-size: 20px;
    background-color: black;
    padding: 20px 15px;   
}

.brand ul {
    list-style: none;
    padding: 0;
    margin: 40px 0;
    
}

.brand li {
    text-align: center;
    margin-bottom: 10px;
}
